In [48]:
import numpy as np
import pandas as pd

In [60]:
from numpy import random
x=[random.randint(0,100) for i in range(7)]
y=[random.randint(0,100) for i in range(7)]

print(x)

[16, 9, 32, 99, 76, 60, 19]

In [61]:
print(y)

[85, 17, 18, 98, 88, 78, 43]

In [62]:
pd.DataFrame(list(zip(x,y)),columns = 'x,y'.split(',')).to_csv('my.csv',index=False)

In [63]:
data = pd.read_csv("my.csv")
data

    x   y
0  16  85
1   9  17
2  32  18
3  99  98
4  76  88
5  60  78
6  19  43

## Initialize centroids

In [68]:
c1 = [data.x[0],data.y[0]]
c2 = [data.x[1],data.y[1]]

centroids = pd.DataFrame(list(zip(c1,c2)),columns = 'c1,c2'.split(','))
centroids

   c1  c2
0  16   9
1  85  17

In [71]:
import math
cent_xx = []
cent_yy= []
c11= []
c22=[]
c=2
for i in range (data.shape[0]):
    cent_x=(data.x[i]-c1[0])**2 +(data.y[i]-c1[1])**2
    math.sqrt(cent_x)
    cent_xx.append(cent_x)
    cent_y=(data.x[i]-c2[0])**2 +(data.y[i]-c2[1])**2
    math.sqrt(cent_y)
    cent_yy.append(cent_y)
    a=(cent_xx[i]+cent_x)/c
    b=(cent_y+cent_yy[i])/c
    c11.append(a)
    c22.append(b)
    c=c+1

    


    
    
error = pd.DataFrame(list(zip(cent_xx,cent_yy,c11,c22)),columns = 'cent_xx,cent_yy,c11,c22'.split(','))

error

   cent_xx  cent_yy          c11          c22
0        0     4673     0.000000  4673.000000
1     4673        0  3115.333333     0.000000
2     4745      530  2372.500000   265.000000
3     7058    14661  2823.200000  5864.400000
4     3609     9530  1203.000000  3176.666667
5     1985     6322   567.142857  1806.285714
6     1773      776   443.250000   194.000000